# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://pandeyyuvraj866_db_user:av3fUxc0M1Gykset@cluster0.8dwcbxn.mongodb.net/?appName=Cluster0

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here_change_in_production

# Server Port
PORT=5000

# Node Environment
NODE_ENV=development
